!/Binaries/**
/Content/Collections/*
/Content/Developers/*
/DerivedDataCache/*
/Intermediate/*
!/Plugins/*/Binaries/**
/Plugins/*/DerivedDataCache/*
/Plugins/*/Intermediate/*
/Plugins/*/Saved/*
/Saved/*